<% include partials/_header%>   
    

<div class="container">
    <div class="row">            
        <div class="col-md-7">
            <div class="card">
                <div class="card-body">                        
                    <h5 class="card-title">Avalaible Menu Options</h5>
                    <table class="table table-bordered table-hover">                    
                        <tbody>
                            <tr>
                                <td><a href="/VFCRM/pyalms" class="btn btn-success">Scripts</a></td>
                                <td>Python for webscraping on ALMS</td>
                            </tr>
                            <tr>
                                <td><a href="/VFCRM/tasks" class="btn btn-success">Tasks</a></td>
                                <td>Task Manager</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>        
</div>

<% include partials/_footer_main%>  