<% include partials/_header%>   
    

<div class="container">
    <div class="row">            
        <div class="col-md-7">
            <div class="card">
                <div class="card-body">                        
                    <h5 class="card-title">WebScraping Python scripts on ALMS</h5>
                    <table class="table table-bordered table-hover">                    
                        <tbody>
                            <tr>
                                <td><a href="/VFMNGTOOLS/pyalms/module" class="btn btn-success">Module</a></td>
                                <td><a href="/VFMNGTOOLS/pyalms/pvcs" class="btn btn-success">pvcs</a></td>
                                <td><a href="/VFMNGTOOLS/pyalms/pckstate" class="btn btn-success">Pckg State</a></td>
                                <td><a href="/VFMNGTOOLS/pyalms/pckstate-loop" class="btn btn-success">Pckg State Loop</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<% include partials/_footer%>  