<% include partials/_header%>   
    

    <div class="container">
        <div class="row">            
            <div class="col-md-7">
                <div class="card">
                    <div class="card-body">
                        WebScraping ALMS  -> Module Script
                    </div>
                </div>

                <div class="card">
                    <div class="card-body">
                        <a href="/VFCRM/pyalms/moduleStart" class="btn btn-success">Start</a>
                    </div>
                </div>
               
        
            </div>
        </div>
    </div>

<% include partials/_footer%>  