<% include partials/_header%>   
    

    <div class="container">
        <div class="row">            
            <div class="col-md-7">
                <div class="card">
                    <div class="card-body">
                        WebScraping ALMS  -> Module Script execution results
                    </div>
                </div>

                <div class="card">
                    <div class="card-body">
                        ${result}
                        <%= result %>
                    </div>
                </div>
               
        
            </div>
        </div>
    </div>

<% include partials/_footer%>  