<% include partials/_header%>   
    

<div class="container">
    <div class="row">            
        <div class="col-md-7">
            <div class="card">
                <div class="card-body">                        
                    <h5 class="card-title">VF - CRM - Almeria - Task Manager</h5>
                    <table class="table table-bordered table-hover">                    
                        <tbody>
                            <tr>
                                <td><a href="/VFMNGTOOLS/tasks/thetasks" class="btn btn-success">Tasks</a></td>
                                <td><a href="/VFMNGTOOLS/tasks/members" class="btn btn-primary">Members</a></td>
                                <td><a href="/VFMNGTOOLS/tasks/requirements" class="btn btn-primary">Requirements</a></td>
                                <td><a href="/VFMNGTOOLS/tasks/types" class="btn btn-primary">Task type</a></td>
                                <td><a href="/VFMNGTOOLS/tasks/states" class="btn btn-primary">States</a></td>
                            </tr>
                        </tbody>
                    </table>          
                </div>
            </div>
        </div>
    </div>
</div>

<% include partials/_footer%>  