

        
    <div class="footer">
        <nav class="navbar navbar-light bg-light mb-4">
            <a href="javascript:history.back();" class="class="btn btn-info"> << Back</a>
            @asanzma 2019
        </nav>        
    </div>
</body>
</html>